<% if posts.present?%>
    <% posts.each_with_index do |post, index| %>
        <% if index % 6 == 0%>
            <div class="col-md-12 column">
              <div class="row">
        <% end %>
        <div class="col-md-2">
          <%= render 'post_common/post_col2', :post => post%>
        </div>
        <% if (index+1) % 6 == 0%>
            </div>
            </div>
        <% end %>
    <% end %>

<% end %>