<h1>
  热门主题：
</h1>
<div class="row clearfix">
  <% hot_plates.each do |plate|%>
  <div class="col-md-4 column">
    <h2>
      摄影
    </h2>
    <p>
      用相机记录这个世界的光与影，<br />
      用光与影来展现这个世界的美，<br />
      我们，<br />都是摄影师！
    </p>
    <p>
      <a class="btn" href="#">more »</a>
    </p>
  </div>
  <% end %>
</div>