
    <%= render 'common/notice'%>
    <h1>
      热门主题：
    </h1>
    <div class="row clearfix">
      <div class="col-md-4 column">
        <h2>
          摄影
        </h2>
        <p>
          用相机记录这个世界的光与影，<br />
          用光与影来展现这个世界的美，<br />
          我们，<br />都是摄影师！
        </p>
        <p>
          <a class="btn" href="#">more »</a>
        </p>
      </div>
      <div class="col-md-4 column">
        <h2>
          美食
        </h2>
        <p>
          当美好的心情遇到了美味，<br />
          甜蜜了整个下午，<br />
          嗨，<br />
          想要来点美食吗？
        </p>
        <p>
          <a class="btn" href="#">more »</a>
        </p>
      </div>
      <div class="col-md-4 column">
        <h2>
          交互
        </h2>
        <p>
          你喜欢交互吗，<br />
          交互的学问可大着呢，<br />
          要加入我来一起讨论吗？<br />
          欢迎你哦！
        </p>
        <p>
          <a class="btn" href="#">more »</a>
        </p>
      </div>
    </div>
    <h1>
      最新帖子：
    </h1>
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/people/default.jpg" />
              <div class="caption">
                <h3>
                  旅游日记
                </h3>
                <p>
                  我喜欢西藏，喜欢它的宁静悠远，喜欢它的天山暮雪，我一直想着有一天能够去西藏兜兜风 ，牵着爱人的手漫步在马路上......
                </p>
                <p>
                  <a class="btn btn-primary" href="view.html">详情</a> <!--<a class="btn" href="#">Action</a>-->
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/city/default.jpg" />
              <div class="caption">
                <h3>
                  悠闲的下午
                </h3>
                <p>
                  我喜欢这个下午，天气正好，春光明媚，我就靠在阳台的藤椅上闭目养神，可以发呆一个下午，我想，这就是最美的时候了吧......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a> <!--<a class="btn" href="#">Action</a>-->
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/sports/default.jpg" />
              <div class="caption">
                <h3>
                  交互演变史
                </h3>
                <p>
                  今天和大家谈谈交互设计的前生今世......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/people/default.jpg" />
              <div class="caption">
                <h3>
                  我是美食家
                </h3>
                <p>
                  我是一个美食家，在哪都能发现好吃的，这世界上最美好的事情莫过于吃东西了，哈哈，不过大家常常叫我吃货一枚，我想在这里给大家分享一下武汉纺织大学地地道道的美味，我想你一定会喜欢的。
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/city/default.jpg" />
              <div class="caption">
                <h3>
                  武纺风光
                </h3>
                <p>
                  美极了美极了美极了......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/sports/default.jpg" />
              <div class="caption">
                <h3>
                  我是标题
                </h3>
                <p>
                  我是一段比较简单的内容......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/people/default.jpg" />
              <div class="caption">
                <h3>
                  交互演变史
                </h3>
                <p>
                  今天和大家谈谈交互设计的前生今世......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/city/default.jpg" />
              <div class="caption">
                <h3>
                  我是美食家
                </h3>
                <p>
                  这世界上最美好的事情莫过于吃东西了，哈哈，大家常常叫我吃货一枚，我想在这里给大家分享一下武汉纺织大学地地道道的美味，我想你一定会喜欢的。
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/sports/default.jpg" />
              <div class="caption">
                <h3>
                  旅游日记
                </h3>
                <p>
                  我喜欢西藏，喜欢它的宁静悠远，喜欢它的天山暮雪，我一直想着有一天能够去西藏兜兜风 ，牵着爱人的手漫步在马路上......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/people/default.jpg" />
              <div class="caption">
                <h3>
                  交互演变史
                </h3>
                <p>
                  今天和大家谈谈交互设计的前生今世......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/city/default.jpg" />
              <div class="caption">
                <h3>
                  悠闲的下午
                </h3>
                <p>
                  我喜欢这个下午，天气正好，春光明媚，我就靠在阳台的藤椅上闭目养神，可以发呆一个下午，我想，这就是最美的时候了吧......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="300x200" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/600/200/sports/default.jpg" />
              <div class="caption">
                <h3>
                  我是标题
                </h3>
                <p>
                  我是一段很长很长很长很长很长很长的内容......
                </p>
                <p>
                  <a class="btn btn-primary" href="#">详情</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>