
    <div class="active" id="">
      <p>
        I'm in Section 1.
      <table class="table">
        <thead>
        <tr>
          <th>
            序号
          </th>
          <th>
            用户ID
          </th>
          <th>
            用户名
          </th>
          <th>
            昵称
          </th>
          <th>
            邮箱
          </th>
          <th>
            最后登录
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            zonghanhan
          </td>
          <td>
            宗含含
          </td>
          <td>
            Default
          </td>
        </tr>
        <tr class="success">
          <td>
            2
          </td>
          <td>
            zonghanhan
          </td>
          <td>
            宗含含
          </td>
          <td>
            Approved
          </td>
        </tr>
        <tr class="error">
          <td>
            3
          </td>
          <td>
            zonghanhan
          </td>
          <td>
            宗含含
          </td>
          <td>
            Declined
          </td>
        </tr>
        <tr class="warning">
          <td>
            4
          </td>
          <td>
            zonghanhan
          </td>
          <td>
            宗含含
          </td>
          <td>
            Pending
          </td>
        </tr>
        <tr class="info">
          <td>
            5
          </td>
          <td>
            zonghanhan
          </td>
          <td>
            宗含含
          </td>
          <td>
            Call in to confirm
          </td>
        </tr>
        </tbody>
      </table>
      <div class="container" >
        <div class="row clearfix" >
          <div class="col-md-6 column" pull-right>
            <ul class="pagination">
              <li>
                <a href="#">上一页</a>
              </li>
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">下一页</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </p>
    </div>

