<% if comments.present?%>
    <% comments.each do |comment|%>
        <div class="row mb40 border_b">
          <div class="col-md-3">
            <%= render :partial => 'common/user', :locals => {:user => comment.user, :user_info => comment.user_info}%>
          </div>
          <div class="col-md-9">
            <div class="col-md-11">
              <%= replace_br comment.content%>
            </div>
            <div class="col-md-1 pull-right">
              <div class=""><%= comment.floor_num%>楼</div>
            </div>
          </div>
        </div>
    <% end %>
    <div class="row text-right">
        <%= paginate comments, :params => {:controller => 'posts', :action => 'show'}, :remote => true%>
    </div>
<% end %>