<% if flash[:error].present?%>
<div class="col-md-12 center">
  <div class="alert alert-dismissable alert-warning text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong></strong> <%= flash[:error]%> &nbsp;<!-- <a href="#" class="alert-link">alert link</a> -->
  </div>
</div>
<% end %>
<% if flash[:notice].present?%>
<div class="col-md-12 center">
  <div class="alert alert-dismissable alert-warning text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong></strong> <%= flash[:notice]%> &nbsp;<!-- <a href="#" class="alert-link">alert link</a> -->
  </div>
</div>
<% end %>