<div class="jumbotron">
  <h1>
    Hello, 欢迎来到设计师交流网站！
  </h1>
  <p>
    生活就是一场旅行，我们要让生活变得有趣，做自己生活的设计师，你也可以！
  </p>
  <p>
    <!--	 <a class="btn btn-primary btn-large" href="#">Learn more</a>-->
  </p>
</div>