<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="index.html">首页</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="discover.html">发现</a>
      </li>
      <li>
        <a href="focus.html">关注</a>
      </li>

    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input class="form-control" type="text" />
      </div> <button class="btn btn-default" type="submit">搜索</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <!--<a href="#">Link</a>-->
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">我的<strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li>
            <a href="my.html">我的帖子</a>
          </li>
          <li>
            <a href="fans.html">我的粉丝</a>
          </li>
          <li>
            <a href="set.html">设置</a>
          </li>
          <li class="divider">
          </li>
          <li>
            <a href="exit.html">退出登录</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</nav>