<div class="media">
  <a class="pull-left" href="#"><img class="media-object" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg" alt='' /></a>
  <div class="media-body">
    <h4 class="media-heading">
      宗含含
    </h4><p>
    做生活的设计师！<br /> 28 关注| 26 粉丝
  </p>
  </div>
</div>