<!DOCTYPE html>
<html>
<head>
  <title>Testrails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag  'application'%>
  <%= javascript_include_tag 'application' %>
</head>

<body class="login">
    <div class="loading" id="loading"></div>
    <%= yield %>
</body>
</html>
